{% extends "credential_layout.html" %}
{% block header_link %}
<link rel="stylesheet" type="text/css" href="../static/css/credential_layout.css">
{% endblock %}
{% block form_layout %}
<form method='POST' class='form-dsgn-rgst' action="{{url_for('register')}}">
    {{form.csrf_token}}
    <div class="form-group">
        <div class='col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-10 form-header-light text-center'>Create your account:</div>
        <div class='col-xs-offset-2 col-xs-8 form-header-heavy text-center'>Diagnostics</div>
    </div>
    {{ render_field(form.firstname,placeholder=form.firstname.label.text)}}
    {{ render_field(form.lastname,placeholder=form.lastname.label.text)}}
    {{ render_field(form.username,placeholder=form.username.label.text)}}
    {{ render_field(form.email,placeholder=form.email.label.text)}}
    {{ render_field(form.password,placeholder=form.password.label.text)}}
    {{ render_field(form.confirm,placeholder=form.confirm.label.text)}}
    <div class='form-group'>
        <button class='form-control btn-dsgn' type='submit'>Register</button>
    </div>
    <div class='form-group'>
        <span class='form-footer-light'>Already have an account? <a href="{{url_for('login')}}" target="_self">Login.</a></span>
    </div>
</form>
{% endblock %}